<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>Table 02</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" th:href="@{/css/style.css}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section" id="start"></h2>
					<input class="datepicker" id="dp">
					<button onclick="getajax()">보기</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-dark">
						    <tr>
						      <th>시작 시간</th>
						      <th>홈</th>
						      <th>어웨이</th>
						      <th>결과</th>
						      <th>&nbsp;</th>
						    </tr>
						  </thead>
						  <tbody>
						  	<tr class="alert" role="alert"  th:each= "get : ${boards}">
								<th scope="row" th:text="${get.startTime}"></th>
								<td th:text="${get.home}"></td>
								<td th:text="${get.away}"></td>
								<td th:text="${get.result}"></td>
<!--								<td th:text="${(boards.number / 10) * 10 + 1}"></td>-->
								<td>
									<a href="#" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true"><i class="fa fa-close"></i></span>
									</a>
								</td>
							</tr>
						  </tbody>
						</table>
						<nav style="text-align: center;">
							<ul class="pagination"
								th:with="start=${(boards.number / 10) * 10 + 1},
								 last=(${start + 9 < boards.totalPages ? start + 9 : boards.totalPages})">

								<li>
									<a th:href="@{/boards/list/2021-08-14(page=1)}" aria-label="First">
										<span aria-hidden="true">First</span>
									</a>
								</li>

								<li th:class="${boards.first} ? 'disabled'">
									<a th:href="${boards.first} ? '#' :@{/boards/list/2021-08-14(page=${boards.number})}" aria-label="Previous">
										<span aria-hidden="true">&lt;</span>
									</a>
								</li>

								<li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == boards.number + 1} ? 'active'">
									<a th:text="${page}" th:href="@{/boards/list/2021-08-14(page=${page})}"></a>
								</li>

								<li th:class="${boards.last} ? 'disabled'">
									<a th:href="${boards.last} ? '#' : @{/boards/list/2021-08-14(page=${boards.number + 2})}" aria-label="Next">
										<span aria-hidden="true">&gt;</span>
									</a>
								</li>

								<li>
									<a th:href="@{/boards/list/2021-08-14(page=${boards.totalPages})}" aria-label="Last">
										<span aria-hidden="true">Last</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>

		</div>
	</section>

	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script>
		$('.datepicker').datepicker({
			dateFormat: 'yy-mm-dd',	//날짜 포맷이다. 보통 yy-mm-dd 를 많이 사용하는것 같다.
			prevText: '이전 달',	// 마우스 오버시 이전달 텍스트
			nextText: '다음 달',	// 마우스 오버시 다음달 텍스트
			closeText: '닫기', // 닫기 버튼 텍스트 변경
			currentText: '오늘', // 오늘 텍스트 변경
			monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],	//한글 캘린더중 월 표시를 위한 부분
			monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],	//한글 캘린더 중 월 표시를 위한 부분
			dayNames: ['일', '월', '화', '수', '목', '금', '토'],	//한글 캘린더 요일 표시 부분
			dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],	//한글 요일 표시 부분
			dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],	// 한글 요일 표시 부분
			showMonthAfterYear: true,	// true : 년 월  false : 월 년 순으로 보여줌
			yearSuffix: '년',	//
			defaultDate:'2021-08-14'
		});

		function getajax() {
			let startDate = $("#dp").val()
			$.ajax({
				type: "get",
				url: "http://localhost:8080/boards/list/" + startDate,
				dataType: "text",
				success: function (res) {
					console.log(startDate);
					console.log("성공");
					location.replace(this.url)
				}
			})
		}
	</script>
	</body>
</html>

